body {
  background: radial-gradient(
    circle,
    rgba(254, 254, 254, 1) 0%,
    rgba(164, 164, 164, 1) 100%
  );
}

#outer-circle {
  margin: 10vh auto;
  position: relative;
  background: black;
  border: 3px solid rgb(46, 45, 45);
  box-shadow: 0px 0px 78px 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 78px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 78px 10px rgba(0, 0, 0, 0.75);
  width: 600px;
  height: 600px;
  border-radius: 50%;
  overflow: hidden;
}
#top-left {
  cursor: pointer;
  background: green;
  position: absolute;
  height: 300px;
  width: 300px;
  top: -1px;
  left: -1px;
}
#top-right {
  cursor: pointer;

  background: red;
  position: absolute;
  height: 300px;
  width: 300px;
  top: -1px;
  right: -1px;
}
#bottom-left {
  cursor: pointer;

  background: yellow;
  position: absolute;
  height: 300px;
  width: 300px;
  bottom: -1px;
  left: -1px;
}
#bottom-right {
  cursor: pointer;

  background: blue;
  position: absolute;
  height: 300px;
  width: 300px;
  bottom: -1px;
  right: -1px;
}
#title {
  position: absolute;
  color: wheat;
  height: 100px;
  width: 150px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}
#title h1 {
  font-size: 3.5rem;
  text-align: center;
}
#switches {
  border: 5px solid black;
  position: absolute;
  background: grey;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#switches #start {
  cursor: pointer;

  background: rgb(221, 17, 17);
  text-align: center;
  color: white;
  border: 2px solid black;
  font-size: 1.25rem;
  letter-spacing: 0.08em;
  width: 60px;
  height: 50px;
  border-radius: 50%;
}
#on,
#strict {
  cursor: pointer;
}
#switches #start:hover {
  background: rgb(238, 108, 108);
}
.text1 {
  font-size: 1.25rem;
  color: black;
  position: absolute;
  width: 245px;
  top: 50%;
  left: 30%;
  display: flex;
  justify-content: space-between;
}
.power-text {
  margin-top: 10px;
  height: 20px;
}
.strict-text {
  margin-top: 10px;
  height: 20px;
}
#turn {
  background: rgba(87, 31, 31, 0.842);
  position: absolute;
  width: 70px;
  height: 50px;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: rgb(255, 0, 0);
}
